target/
**/*.class
target/classes/com/example/App.class
target/test-classes/com/example/AppTest.class
config/
data/
fonts/
image/
language/
records/
voice/
voidmei.exe
voidmei.jar
voidmei/
voidmei.7z
*.tmp
